h1 {
  font-family: "arial";
  text-indent: 550px;
  font-size: 200%;
}
h2 {
  color: red;
  text-indent: 50px;
  font-size: 120%;
}
h3 {
  text-indent: 50px;
  font-size: 100%;
}

p{
  font-family: "arial";
  text-indent: 20px;
  margin-left: 10px;
}


#challenges{
  background-color: #ffffff;
  width: 1300px;
  min-height: 100px;
  padding: 10px;
  margin: 10px;
  border: solid 1px #444444;
  font-size: 20px;
}
#problems{
  background-color: #ffffff;
  width: 1300px;
  min-height: 100px;
  padding: 10px;
  margin: 10px;
  border: solid 1px #444444;
  font-size: 20px;
}
#results{
  background-color: #ffffff;
  width: 1300px;
  min-height: 200px;
  padding: 10px;
  margin: 10px;
  border: solid 1px #444444;
  font-size: 20px;
}
#output1{
  background-color: #efebdc;
  width: 1400px;
  min-height: 150px;
  padding: 10px;
  margin: 10px;
  border: solid 1px #444444;
  font-size: 20px;
}
#output{
  background-color: rgba(255, 255, 255, 0.5);;

  width: 1100px;
  min-height: 150px;
  padding: 10px;
  margin: 10px;
  border: solid 1px #444444;
  font-size: 20px;
}

.red {
  color: red;
}
.green {
  color: green;
}
.blue{
  color: blue;
}
#target {
  font-weight: bold;
  font-size: 60px;
}
